<html>
  <head>
    <title>Registry</title>
    <link rel="stylesheet" th:href="@{/style.css}"></link>
  </head>
	<body onload='document.f.username.focus();'>
		<div id="regForm">
			<h3>Registry</h3>
			<div class="error" th:if="${param.error}">
			  Incorrect username or password. Try again.
			</div>
			
			<form th:action="@{/reader/registry}" method='POST'>
				<table>
					<tr>
						<td>User:</td>
						<td><input type='text' name='username' value='jeff' /></td>
					</tr>
					<tr>
						<td>Password:</td>
						<td><input type='password' name='password' value="password" /></td>
					</tr>
					<td>Fullname:</td>
					<td><input type='text' name='fullname' value="Jeff King" /></td>
					</tr>
					<tr>
						<td colspan='2'><input name="submit" type="submit"
							value="Registry" /></td>
					</tr>
				</table>
			</form>
		</div>
	</body>
</html>