<html>
  <head>
    <title>Oops!</title>
    <link rel="stylesheet" th:href="@{/error.css}"></link>
  </head>

  <html>

    <div class="content">
      <h1>Oops!</h1>
        <p>
          <!--<img th:src="@{/MissingPage.png}" height="100"></img>-->
          There seems to be a problem with the page you requested
             (<span class="label" th:text="${path}"></span>). <br />
            Details: <span class="label" th:text="${message}"></span>
        </p>
    </div>

    <div class="console">
        status: <span th:text="${status}"></span><br />
        error: <span th:text="${error}"></span><br />
        message: <span th:text="${message}"></span><br />
        exception: <span th:text="${exception}"></span><br />
        trace: <span th:text="${trace}"></span><br />
        path: <span th:text="${path}"></span><br />
        timestamp: <span th:text="${timestamp}"></span><br />
        errors: <span th:each="err : ${errors}">
            <span th:text="${err}"></span>
          </span>
        <br />
        stack trace:
        <div th:each="line:${stackTrace}">
            <div th:text="${line}"></div>
        </div>
    </div>

    <div class="bar">
        <a class="bar-item cyan-item" th:href="@{'https://cn.bing.com/search?q='+${message}}" target="_blank" id="Baidu">Bing</a>
        <a class="bar-item blue-item" th:href="@{'https://www.google.com/webhp?hl=zh-CN#safe=strict&hl=zh-CN&q='+${message}}" target="_blank" id="Google">Google</a>
        <a class="bar-item green-item" th:href="@{'https://www.baidu.com/s?wd='+${message}}" target="_blank" id="Baidu">Baidu</a>
        <a class="bar-item orange-item" th:href="@{'http://stackoverflow.com/search?q='+${message}}" target="_blank" id="StackOverFlow">StackOverFlow</a>
    </div>

  </html>

</html>
